body {
    background:pink;
}

.app {
    display:flex;
    flex-direction:column;
    align-items:center;
    input {
	font-size:16px;
	width:100%;
	text-align:right;
	direction:rtl;
    }
    canvas {
	width:100%;
    }
    .download {
	margin-top:10px;
	color: #7676d8;
    }
}